# This file is meant for private variables and targets that apply only to each person's
# local developments variables (ie. configurations specific to your own local
# development environment) as well as sensitive information, like access keys,
# passwords and such.
#
# Ex. personal targets while exploring new parameters or configurations that should not
# be share with other project members
#
# Make a copy of this file and name it `Makefile.private`, then define your own
# variables in it.
#
# `Makefile.private` is already ignored by the `.gitignore` file.
#
# DO NOT COMMIT YOUR `Makefile.private`!!!


## Private variables

# Most, but not all install/remove targets use this variable. A 'false' value will ask
# users to confirm some steps. A 'true' value will automatically install/remove without
# asking beforehand.
AUTO_INSTALL := false

# The default environment to use. The choices are as follow: [venv, uv, poetry, conda]
# Here, we are talking about the virtual environment management - not dependencies.
#
# venv creates a standard virtual environment via the available 'virtualenv'
# uv creates a virtual environment via 'uv venv -p $(PYTHON_VERSION)'
# poetry creates a virtual environment via 'poetry env use $(PYTHON_VERSION)
# conda create a virtual environment via '$(CONDA_TOOL) env create -f environment.yml'
# 
# This overrides the value found in 'Makefile.variables'
DEFAULT_INSTALL_ENV := uv

# The default build tool to use. The choices are as follows: [uv, poetry]
# This value should also reflect the choice above - DO NOT choose 'poetry' or 'conda' for 
# DEFAULT_INSTALL_ENV and then use 'uv' as the build tool
#
# This is the project's default.
DEFAULT_BUILD_TOOL := uv

# This variable is to enable the '-y' flag when newer version of conda is available.
# CONDA_YES_OPTION := -y

# If you use a different Conda tool, say `mamba`, or if you use a different alias
# CONDA_TOOL := <YOU_CONDA_TOOL_IF_DIFFERENT_FROM_CONDA>

DOCKER_COMPOSE := docker compose
